<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIBJ12HE1TB2BfMQKSYIRDZP5xr1rn8kM</string>
	<key>GCM_SENDER_ID</key>
	<string>318676756543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAiFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>chat-ai-flutter-cc9f0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ai-flutter-cc9f0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318676756543:ios:23e7d0feabfbe9e862708a</string>
</dict>
</plist>